/*首页 */


/* 轮番图 */

.search {
    position: absolute;
    top: 0.56rem;
    /* left: 1.05rem; */
    left: 50%;
    margin-left: -2.7rem;
    /* 固定大小 定宽 */
    width: 4.7rem;
    height: 0.34rem;
    padding: 0.11rem 0rem 0.15rem 0.7rem;
    /* 不固定宽度 */
    /* width:原长/7.5 */
    font-size: 0.24rem;
}

.swiper {
    /* 相对定位 */
    position: relative;
}

.dot {
    /* 绝对定位 */
    /* 脱离文档流 悬浮在上一层 */
    position: absolute;
    bottom: 0.15rem;
    width: 100%;
    text-align: center;
}

.dot span {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    /* background-color: #fff; */
    background-color:#fff;
    border-radius: 0.075rem;
}

.content {
    overflow: hidden;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: #f9f9f9;
}

.item-box {
    height: 1.5rem;
    margin-top: 0.18rem;
}

.item-box .list {
    float: left;
    width: 33.333333%;
    height: 0.75rem;
    border-right: 0.01rem solid #f9f9f9;
    border-bottom: 0.01rem solid #f9f9f9;
    box-sizing: border-box;
    font-size: 0.28rem;
    color: #fff;
    text-align: center;
    line-height: 0.75rem;
}

.item-box .big {
    height: 1.5rem;
}

.bg1 {
    background-color: #85dc38;
}

.bg2 {
    background-color: #f7713f;
}

.bg3 {
    background-color: #db386c;
}

.bg4 {
    background-color: #2caa71;
}

.bg1 img,
.bg2 img,
.bg3 img,
.bg4 img {
    width: 0.75rem;
    height: 0.65rem;
    margin-left: auto;
    margin-right: auto;
}

.item-box.auto {
    width: 0.75rem;
    height: 0.65rem;
}

.title {
    width: 100%;
    height: 0.59rem;
    padding-top: 0.4rem;
    font-size: 0.24rem;
    color: #333;
}

.title img {
    display: inline-block;
    width: 0.37rem;
    height: 0.37rem;
    margin-right: 0.2rem;
    vertical-align: middle;
}

.title a {
    padding-left: 0.2rem;
    color: #31ad37;
    text-decoration: underline;
}

.column {
    float: left;
    width: 50%;
    height: 1.73rem;
    font-size: 0.28rem;
    background-color: #fff;
    border-right: 0.03rem solid #f9f9f9;
    border-bottom: 0.02rem solid #f9f9f9;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.73rem;
}

.menu {
    float: left;
    width: 47%;
}

.mag {
    margin-left: 0.02rem;
}

.fr {
    float: right;
}

.column:nth-of-type(2n) {
    border-right: 0rem;
}

.active-box {
    background-color: #fff;
    height: 1.45rem;
    text-align: center;
    margin-top: 0.24rem;
    margin-bottom: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    line-height: 0.48rem;
}

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0rem;
    width: 100%;
    text-align: center;
}

.footer li {
    float: left;
    width: 25%;
    height: 0.98rem;
    font-size: 0.21rem;
    text-align: center;
}

.footer img {
    width: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.19rem;
    padding-bottom: 0.14rem;
}
.active{
    color: db386c;
}
.dot .act{
    width: 0.4rem;
}